  <div id="tabs1" class="tabs">
            <div class="container">
                <div class="tabRow">
                    <ul>
                        <li class="tab">Day One</li>
                        <li class="tab">Day Two</li>
                        <li class="tab">Day Three</li>
                        <!-- if you have more tabs than content containers then tab is just unclickable -->
                    </ul>
                </div>
                <div class="tabContainer">
                    <!-- Content without .tabContent class on top of list will be visible in all tabs -->
                    <div class="tabContent">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend enim sit amet lorem
                            finibus auctor. Maecenas nulla tortor, interdum vitae magna ut, fermentum volutpat erat. Nam
                            cursus aliquet ante a cursus. In blandit felis tincidunt suscipit auctor. Sed in elementum
                            ex, ut gravida arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Nullam et dolor ut sem aliquet vulputate.</p>
                    </div>
                    <div class="tabContent">
                        <p>Suspendisse potenti. Vestibulum vitae metus sit amet nulla dignissim viverra. Aenean sed
                            bibendum felis. Sed commodo felis sit amet augue euismod, eget mollis felis pharetra.
                            Praesent dignissim diam at neque placerat, quis condimentum dolor convallis. Vivamus vel
                            venenatis nunc, ac mattis neque. Maecenas eu molestie est, ut suscipit ligula. Donec tempor,
                            ex vel aliquet ultrices, tellus quam volutpat ante, non tincidunt nisi magna eget felis.</p>
                    </div>
                    <div class="tabContent">
                        <p>Nam ornare tortor quam, eget ultrices ex vulputate sit amet. Nulla ligula nisi, tincidunt nec
                            fringilla tincidunt, dignissim in mi. Nullam sed enim faucibus, dictum sapien maximus,
                            ultricies erat. Morbi et diam eu dui interdum egestas. Maecenas nisi turpis, varius ut ipsum
                            at, dapibus tempor lectus. Aliquam convallis lectus libero. Nulla facilisi. Praesent nec
                            pellentesque magna. Donec accumsan aliquam ultrices. Mauris quis auctor massa, ac eleifend
                            justo. Integer in ante pharetra lectus eleifend posuere.</p>
                    </div>
                    <!-- if you have more content conatainers, then these will be visible in all tabs -->
                </div>
            </div>
        </div>