{% set showcase_base_class = 'showcase' %}
<section {{bem (showcase_base_class)}}>
	<div class="container-fluid">
		<section {{bem (showcase__primary)}}"></section>
	</div>
</section>
{# {% if title %}
<h1> {{title}} </h1>
{% endif %} #}