{% set span_base_class = span_base_class|default('span') %}

<span {{ bem(span_base_class, span_modifiers, span_blockname) }}>
  {% block span_content %}
    {{ span_content }}
  {% endblock %}
</span>