.plans {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url('/images/5.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.plans__titles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 991px) {
  .plans__titles {
    flex-wrap: wrap;
  }
}
.plans__yearly,
.plans__monthly {
  margin: 0;
}
// .plans__yearly .active,
// .plans__monthly .active {
//   background-color: #333333;
//   color: #ffffff;
// }
.plans__yearly a,
.plans__monthly a {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  background: none;
  color: #333333;
  border-color: #333333;
  padding: 1rem 2.6rem;
  border-radius: 6px;
  font-weight: 500;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .plans__yearly a,
  .plans__monthly a {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin: 0px !important;
  }
}
.plans__monthly {
  margin: 0;
}

.plansactive {
  background-color: #333333;
  color: #ffffff;
}
.plans__yearly a {
  color: #fff;
}
