  <section class="form">
            <div class="container">
                <div class="form__title">
                    <h5>Contact Us</h5>
                </div>
                <div class="form__wrapper">
                    <div class="form__map"><iframe frameborder="0" style="border:0;width: 100%;height:100%;"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCy9r70T3NYf3PhvVflTo0_zdif2_IoIYs&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw"
                            allowfullscreen=""></iframe></div>
                    <div class="form__contact">
                        <form action="#">
                            <div class="dragArea form__row">
                                <div class="form-group">
                                    <div class="form__row">
                                        <div class="form__col m-16 w-100">
                                            <span></span>
                                            <input type="text" placeholder="First Name"
                                                class="form-control text-multiple w-100">
                                        </div>
                                        <div class="form__col w-100">
                                            <span></span>
                                            <input type="text" placeholder="Last Name"
                                                class="form-control text-multiple w-100">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form__row w-100">
                                        <div class="form__col m-16 w-100">
                                            <span></span>
                                            <input type="text" placeholder="First Name"
                                                class="form-control text-multiple w-100">
                                        </div>
                                        <div class="form__col ">
                                            <span></span>
                                            <input type="text" placeholder="Last Name"
                                                class="form-control text-multiple w-100">
                                        </div>
                                    </div>
                                </div>

                                <div class="form__subject form-group">
                                    <span></span>
                                    <input type="text" placeholder="Subject" class="form-control form__subject">
                                </div>
                                <div class="form__textarea form-group">
                                    <span></span>
                                    <textarea placeholder="Message" class="form-control"></textarea>
                                </div>

                                <div style="width: 100%;display: inherit;justify-content: center;"><a href="#"
                                        class="btn--about btn-md">Send</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>